day-18/node-red/nodered_mqtt_led_flow.json
[
  {
    "id": "mqtt-out",
    "type": "mqtt out",
    "z": "mqtt-demo",
    "name": "",
    "topic": "led/control",
    "qos": "",
    "retain": "",
    "broker": "mqtt-broker",
    "x": 400,
    "y": 100,
    "wires": []
  },
  {
    "id": "button-on",
    "type": "ui_button",
    "z": "mqtt-demo",
    "name": "LED ON",
    "group": "ui-group",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Turn LED ON",
    "tooltip": "",
    "color": "",
    "bgcolor": "green",
    "icon": "",
    "payload": "on",
    "payloadType": "str",
    "topic": "",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "mqtt-out"
      ]
    ]
  },
  {
    "id": "button-off",
    "type": "ui_button",
    "z": "mqtt-demo",
    "name": "LED OFF",
    "group": "ui-group",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Turn LED OFF",
    "tooltip": "",
    "color": "",
    "bgcolor": "red",
    "icon": "",
    "payload": "off",
    "payloadType": "str",
    "topic": "",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "mqtt-out"
      ]
    ]
  },
  {
    "id": "mqtt-in",
    "type": "mqtt in",
    "z": "mqtt-demo",
    "name": "",
    "topic": "led/status",
    "qos": "2",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 150,
    "y": 200,
    "wires": [
      [
        "text-node"
      ]
    ]
  },
  {
    "id": "text-node",
    "type": "ui_text",
    "z": "mqtt-demo",
    "group": "ui-group",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "LED is",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 400,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Test Mosquitto",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "ui-group",
    "type": "ui_group",
    "name": "Controls",
    "tab": "ui-tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui-tab",
    "type": "ui_tab",
    "name": "MQTT Demo",
    "icon": "dashboard",
    "order": 1
  }
]